<footer class="site-footer">

  <div class="wrapper">
    
    <div class="site-contact">
      <p><a><i class="fa fa-phone"></i> +39 3342283814 (Italy)</a></p>
      <p><a><i class="fa fa-calendar" aria-hidden="true"></i> Office L100-03</a></p>
      <p><a><i class="fa fa-home"></i> Kleine Märkerstraße 8</a></p>
      <p><a><i class="fa fa-location-arrow" aria-hidden="true"></i> 06108 Halle (Saale), Germany</a></p>
    </div>
 
    <div class="site-navigation">
      <p><a href="mailto:shasha.li@iwh-halle.de"><i class="fa fa-envelope"></i> shasha.li@iwh-halle.de</a></p>
      <p><a href="https://twitter.com/lisa_li_MI"><i class="fa fa-twitter"></i> Twitter</a></p>
      <p><a href="https://github.com/shasha-li"><i class="fa fa-github"></i> GitHub</a></p>
    </div>
    

      
 </div>
</footer>

<!-- Scripts -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<script id="dsq-count-scr" src="//iammichaelhudson.disqus.com/count.js" async></script>
<script>

$(document).ready(function() {

  // Syntax highlighting
  hljs.initHighlightingOnLoad();

  // Header
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });

  //Make sure all the post's links open in a new tab
  jQuery('.post-content a, .post-excerpt a').not('.footnote, .reversefootnote').attr ('target', '_blank');

});

</script>

{% if site.ga_tracking_id and site.github %}
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.ga_tracking_id }}', 'auto');
  ga('send', 'pageview', {
    'page': '{{ page.url }}',
    'title': '{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}'
  });
</script>
{% endif %}
