<header class="navigation" role="banner">
 <img class="topleft" width="80" height="80" src="https://shasha-li.github.io/content/B_logo.png" alt="B">
  <div class="namef">SHASHA LI 厉莎莎</div>
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="{{ site.baseurl }}/" class="logo"><strong>Home</strong></a>
      <li class="nav-link"><a href="https://shasha-li.github.io/research"><strong>Research</strong></a>
      <li class="nav-link"><a href="https://shasha-li.github.io/teachings"><strong>Teaching</strong></a>
      <li class="nav-link"><a href="https://shasha-li.github.io/CV"><strong>About me (CV)</strong></a>
      </ul>
    </nav>
  </div>
</header>
